spring:
  profiles:
    active: develop
  servlet:
    multipart:
      enabled: true
      max-file-size: 50MB
      max-request-size: 50MB
  mvc:
    path match:
      # 配置策略
      matching-strategy: ant_path_matcher


mybatis-plus:
  global-config:
    db-config:
      id-type: auto
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
    map-underscore-to-camel-case: true
    auto-mapping-behavior: full
  mapper-locations: classpath:mapper/*.xml  # 扫描所有mybatis的配置文件

jwt:
  #  密钥
  secret: woshiniba.zh.woshinidie
  #  有效期（秒）
  expire: 60*30
