@font-face {
  font-family: "iconfont"; /* Project id 3663478 */
  src: url('iconfont.woff2?t=1668838642903') format('woff2'),
       url('iconfont.woff?t=1668838642903') format('woff'),
       url('iconfont.ttf?t=1668838642903') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-guanyuwomen:before {
  content: "\e684";
}

.icon-lianjie:before {
  content: "\e6c8";
}

.icon-fangwenliang:before {
  content: "\e634";
}

.icon-16:before {
  content: "\e61e";
}

.icon-wenzhangliebiaoxiangqing:before {
  content: "\e665";
}

.icon-biaoqian:before {
  content: "\e63d";
}

.icon-bianjiwenzhang_huaban:before {
  content: "\e62e";
}

.icon-houtaiguanli-fabuwenzhang:before {
  content: "\e6d8";
}

.icon-wenzhangfenlei:before {
  content: "\e6c6";
}

.icon-wenzhangliebiao:before {
  content: "\e653";
}

.icon-wenjian:before {
  content: "\e600";
}

.icon-website:before {
  content: "\e606";
}

.icon-xitong:before {
  content: "\e67c";
}

.icon-yemian:before {
  content: "\e615";
}

.icon-logout:before {
  content: "\e63a";
}

.icon-menu:before {
  content: "\e6c1";
}

.icon-caidan1:before {
  content: "\e61b";
}

.icon-wenjianxiazai:before {
  content: "\e613";
}

.icon-role:before {
  content: "\e60b";
}

.icon-remove-role:before {
  content: "\e60c";
}

.icon-add-role:before {
  content: "\e60d";
}

.icon-setting-role:before {
  content: "\e60f";
}

.icon-edit-role:before {
  content: "\e610";
}

.icon-API:before {
  content: "\e740";
}

.icon-kuozhan:before {
  content: "\e621";
}

.icon-yonghuguanli:before {
  content: "\e605";
}

.icon-tupiantianjia:before {
  content: "\ec7d";
}

.icon-zhuce:before {
  content: "\e71c";
}

.icon-quanxian:before {
  content: "\e725";
}

.icon-gerenxinxi:before {
  content: "\e617";
}

.icon-kuozhan1:before {
  content: "\e65f";
}

.icon-menu1:before {
  content: "\e620";
}

.icon-tupian:before {
  content: "\e8ba";
}

.icon-quanxianguanli-:before {
  content: "\e61c";
}

.icon-essential-information:before {
  content: "\e612";
}

.icon-s_yonghuliebiao:before {
  content: "\e659";
}

.icon-caidan:before {
  content: "\e611";
}

.icon-s-fold:before {
  content: "\e676";
}

.icon-s-unfold:before {
  content: "\e678";
}

.icon-denglu:before {
  content: "\e7c8";
}

.icon-shouye-shouye:before {
  content: "\e61a";
}

.icon-dianzan:before {
  content: "\ec7f";
}

.icon-wenjianguanliqi:before {
  content: "\e636";
}

.icon-quanxianguanli:before {
  content: "\e713";
}

.icon-gitee-fill-round:before {
  content: "\e686";
}

.icon-gitea:before {
  content: "\eba0";
}

.icon-musicfill:before {
  content: "\e795";
}

.icon-QQ-circle-fill:before {
  content: "\e887";
}

.icon-image:before {
  content: "\e630";
}

.icon-github:before {
  content: "\e632";
}

.icon-video:before {
  content: "\e741";
}

.icon-wechat:before {
  content: "\e60e";
}

